<div class="row">
	<div class="col-md-6">
		<h1>Nuevo niño</h1>
		<%= render 'form', child: @child %>
		<%= link_to 'Regresar', family_path %>
	</div>
	<div class="col-md-6">
		<div class="help-box">
    <h2> Nota:</h2>
    <%= image_tag('close.png', class: "close") %>
    <p>Si tienes en tu hogar menores de edad, es muy importante que los registres, así sabremos cuál es la población real de nuestra comunidad y a ellos los tendemos en cuenta en fechas especiales.</p>
  	</div>
	</div>
</div>
