<div class="row">
  <h1>Tiendas para ti</h1>
  <% @stores.each do |store| %>
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <%= link_to store_path(store) do %>
      <%= image_tag(store.image_url, :width => 300, :height => 150) if store.image.present? %>
    <%end %>
  <% end %>
  </div>
  <div class="col-md-2"></div>
</div>

