<div class="row">
	<div class="col-md-6">
		<h1>Nueva empleada</h1>
		<%= render 'form', werehouse: @werehouse %>
		<%= link_to 'Regresar', family_path %>
	</div>
	<div class="col-md-6">
		<div class="help-box">
   		<h2><strong>NOTA:</strong></h2>
   		<%= image_tag('close.png', class: "close") %>
    	<p>En este espacio puedes crear todas tus quejas, peticiones, sugerenciasy reclamos. Recuerda que sean siempre constructivas y para el mejoramiento de la comunidad</p>
  	</div>
	</div>
</div>


