<p id="notice"><%= notice %></p>
<h1>Promociones para ti</h1>
    <% @promos.each do |promo| %>
    <a href="<%= promo.url %>"><%= image_tag(promo.image_url, :width => 150, :height => 150, class: "promo-img") if promo.image.present? %></a>
    <% end %>
