// Place all the styles related to the Orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@media only screen 
and (device-width: 590px) 
and (device-height: 310px) 
and (orientation : landscape) 
{
	#sidebar{
        display: none !important;
  }

 	.wrapper{
		left: 0 !important
  }
}
